main {
    .comment {
        width: 100%;
        padding: 0% 10%;
        color: $letter-color;
        text-align: justify;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0% 10%;
        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    
}