section {
    width: 100%;
    margin-top: 20px;
    h2 {
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        color: #f0f8ff;
    }
    ul {
        text-align: center;
      
    }
    ol {
        text-align: center;
    }
}