@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.descuentos {
    width: 100%;
    height: 30px;
    background: #1CD1B0;
}

.descuentos p {
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    margin-left: 20px;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 70px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header div {
    display: flex;
    margin-left: 10px;
}

header img {
    height: 70px;
}

header h1 {
    height: 47px;
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}

header nav {
    width: 100%;
    height: 40px;
    background: #001D2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 20px;
    gap: 10px;
}

header nav ul a {
    text-decoration: none;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

main {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 100px 0;
}

.card {  
    position: relative;
    width: 300px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fondo-card {
    width: 300px;
    height: 193px;
    border-radius: 10px;
}

.fa-heart {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #CC2424;
    font-size: 25px;
}

.foto-card {
    width: 120px;
    height: 118px;
    position: absolute;
    top: 120px;
    left: 90px;
    border-radius: 50%;
}

.card h2 {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-top: 65px;
}

.card p {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding: 5px 20px 20px;
}

.boton {
    width: 128px;
    height: 48px;
    margin: 15px 86px;
    background: #00669F;
    text-align: center;
    border-radius: 5px;
}

.boton a {
    text-decoration: none;
    font-size: 17px;
    line-height: 50px;
    color: #F3F3F3;
}

footer {
    width: 100%;
    height: 51px;
    margin-top: 50px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}    

footer p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 51px;
    text-align: center;
    color: #FFF9F9;
}

@media  (max-width: 768px) {
    main {
       flex-wrap: wrap;

    }
}

@media (max-width: 480px) {
    main {
        flex-direction: column;
        align-items: center;
    }
}

/* Css para secciones login, contacto y registro */

.formulario {
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: start;
    margin-bottom: 30px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 72px;
    color: #333333;
}

form input {
    width: 450px;
    height: 35px;
    margin: 12px 0;
    background: #FFFFFF;
    border: 1.5px solid #000000;
}

[type="button"] {
    background: #1CD1B0;
    border-radius: 23px;
    margin-top: 30px;
}

[type="button"]:hover {
    background: #00669F;
}

[value="Entrar"] {
    font-family: Karla;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

[value="Entrar"]:hover {
    color: #F3F3F3;
}

.hcr-cta {
    text-align: center;
    font-family: Karla, sans-serif;
    font-size: 15px;
    line-height: 23px;
}

.hcr-cta a {
    text-decoration: none;
    color: color: #00669F;
}


