body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    background-image: url(../img/header.png);
    width: 100%;
    height: 409px;
    background-size: cover;
}

header.section { 
    width: 365px;
    height: 54px;
    left: 648px;
    top: 237px;
    text-align: right;

}

h1, h2 {
    text-align: right;
    width: 400px;
}

h1 {
    background-color: #ffffff;
    
}
    